
section,
footer,
aside,
nav,
article,
figure,
centercontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.centercontainer {
  border: 5px solid;
  margin: auto;
  width: 50%;
  height: auto;
  padding: 10px;
  background-color: white;
}

div.leftcontainer {
  border: 5px solid;
  margin: auto;
  width: 20%;
  height: auto;
  float: left;
  position: sticky; 
  top: 0;
}

body {
  background-color: black;
  background-repeat: repeat-y;
  height: 100%;
  width: 100%;
  font-family: Verdana;
  background-position: center;
}

header {
  width: 100%;
}

.logo {
  float: left;
  height: 70px;
  width: 300px;
}



div.directory {
  border: 2px solid;
  justify-content: center;
  margin: auto;
  border-top: 0px;
  position: sticky; 
  top: 0;
}



.navigation_text {
  font-family: Verdana;
  font-size: 20px;
  text-decoration: none;
  display: flex;
}



nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}

nav li {
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
}





ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}



li {
  float: left;
}


li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}




.body_title {
  text-align: center;
  border: 2px solid black;
  background-color: white;
  font-size: 24px;
}


#home {
  width: 100%;
  height: auto;
  margin: 15px 0 15px 0;
  background-color: white;
}

.house {
  border-radius: 50%;
  width: 15%;
  height: 150%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: solid black 1px;
}


hr {
  width: 10%;
}

div#aboutme {
  width: auto;
  text-align: center;
  border: 2px solid black;
  background-color: white;
  font-size: 28px;
  margin: auto;
}

div#directory_top {
  width: auto;
  text-align: center;
  border: 2px solid white;
  background-color: green;
  font-size: 20px;
  margin: auto;
}

div.directorytitle {
  border: 2px solid white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

div.aboutmetitle {
  border: 2px solid black;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}


img {
  max-width: 100%;
  max-height: 100%;
}

div.text {
  font-size: 20px;
  padding-left: 20px;
  font-family: Arial;

  text-align: left;
}



table.contact {
  background-color: grey;
  border: solid 5px;
  margin: 15px auto 15px auto;
  width: 50%;
}


input[type=text],
textarea,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #228B22;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FF4500;
}



div#contactme {
  margin: 25px;
  width: auto;
  text-align: center;
  border: 1px solid black;
  background-color: grey;
  font-size: 20px;
  border-bottom: 1px;
  color: white;
}

div.contact_form {
  color: black;
  text-align: left;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid black;
  opacity: 1.0;
}




div.bottom_footer {
  border: 2px solid white;
}



span.text_left {
  margin-left: 0px;
}

span.text_right {
  margin-left: 0px;
  float: right;
}


a.prev:hover {
  cursor: pointer;
}

a.next:hover {
  cursor: pointer;
}


/*assign2*/


.image-slideshow {
  max-width: 1000px;
  max-height: 1000px;
  position: relative;
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: .5
  }

  to {
    opacity: 1
  }
}

div.vid {
  border: 2px solid white;
  text-align: center;
}

video {
  width: 100%;
  height: 100%;
}
